/Astra/.vs/Astra/v16/.suo
/Astra/.vs/Astra/v16/Server/sqlite3/db.lock
/Astra/.vs/Astra/v16/Server/sqlite3/storage.ide
/Astra/.vs/Astra/v16/Server/sqlite3/storage.ide-shm
/Astra/.vs/Astra/v16/Server/sqlite3/storage.ide-wal
/Astra/Astra/obj/Astra.csproj.nuget.cache
/Astra/Astra/obj/Astra.csproj.nuget.dgspec.json
/Astra/Astra/obj/Astra.csproj.nuget.g.props
/Astra/Astra/obj/Astra.csproj.nuget.g.targets
/Astra/Astra/obj/Debug/netcoreapp3.1/Astra.AssemblyInfo.cs
/Astra/Astra/obj/Debug/netcoreapp3.1/Astra.AssemblyInfoInputs.cache
/Astra/Astra/obj/Debug/netcoreapp3.1/Astra.assets.cache
/Astra/Astra/obj/Debug/netcoreapp3.1/Astra.csprojAssemblyReference.cache
/Astra/Astra/obj/project.assets.json
